@model SistOtica.Models.Client.ClientViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClientViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>

            <div>
                <div class="form-group" id="phoneNumberField">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber[0]" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <a class="btn btn-primary" onclick="addPhoneNumber()"> + </a>
            </div>

            <div class="form-group">
                <label asp-for="Rg" class="control-label"></label>
                <input asp-for="Rg" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BornDate" class="control-label"></label>
                <input asp-for="BornDate" class="form-control" type="date" />
                <span asp-validation-for="BornDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MotherName" class="control-label"></label>
                <input asp-for="MotherName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SpouseName" class="control-label"></label>
                <input asp-for="SpouseName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Ocupation" class="control-label"></label>
                <input asp-for="Ocupation" class="form-control" />
            </div>


            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Neighborhood" class="control-label"></label>
                <input asp-for="Neighborhood" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Uf" class="control-label"></label>
                <input asp-for="Uf" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AddressComplement" class="control-label"></label>
                <input asp-for="AddressComplement" class="form-control" />
            </div>
            <div>
                <h6 id="referenceNumeration">1º Referencia</h6>
                <div class="form-group" id="referenceNameField">
                    <label asp-for="ReferenceName" class="control-label"></label>
                    <input asp-for="ReferenceName[0]" class="form-control" placeholder="Nome" />
                </div>
                <div class="form-group" id="referencePhoneField">
                    <label asp-for="ReferencePhone" class="control-label"></label>
                    <input asp-for="ReferencePhone[0]" class="form-control" placeholder="(98)98888-8888" />
                </div>
                <a class="btn btn-primary" onclick="addReference()"> + </a>
            </div>
            


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Negativated" /> @Html.DisplayNameFor(model => model.Negativated)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Observation" class="control-label"></label>
                <input asp-for="Observation" class="form-control" />
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form> <!--Create form-->
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
